<h1>FolderNotes Users</h1>
<p>A list of all other users and links to their root folder. This page might be removed in a later version.</p>
<% @users.each do |user| %>
  <div class="media">
    <%= link_to user.email, user %>
  </div>
<% end %>
