<h1>KevNotes Information Center</h1>

<h2>Getting started</h2>
<p>
You can use KevNotes.com to write and save notes online. You can also save links to other websites. At KevNotes you use folders to contain notes, links, and even other folders. Each user starts out with one folder. But you can create as many folders as you want to help you stay organized.
</p>
<h4>How to Create a Folder</h4>
<p>While viewing one of your folders, there will be a "New Folder" button. Click it, then give your new folder a name. It will be created inside the folder you are currently viewing.</p>

<h4>How to Create a Note</h4>
<p>The "New Note" button allows you to create a new note or link inside the folder you are currently viewing. You can always edit or delete the note later.</p>

<h4> Sharing your notes</h4>
<p>Each folder and each item inside of it has its own privacy setting. Everything is private so that only you can see it by default. But if you choose to make it public, you can send anyone a link to it.</p>

<h2> What can I use my KevNotes folders for?</h2>
<p>Anything you want! Be creative! Here are some ideas to get you started brainstorming:</p>
<ul>
  <li>Organize notes for a class or your job.</li>
  <li>Save bookmarks and notes for a research project</li>
  <li>Turn your folder into a web page</li>
  <li>Make lists!</li>
  <li>Write down your good ideas and thoughts!</li>
</ul>

<h2>Upcoming Features and Improvements</h2>
<p>There are lots of improvements I would like to make to KevNotes.com soon. For example:</p>
<ul>
  <li>The ability to move a note or folder from one folder to another</li>
  <li>The ability to re-order folders and notes</li>
  <li>The ability to message other KevNotes users</li>
  <li>Auto-focusing of text input fields</li>
</ul>