<h1>Welcome to KevNotes.com!</h1>
<h3>Write things down!</h3>
  <p>You can use KevNotes to easily write notes about anything you want and save them online.</p>
<h3>Bookmark related websites!</h3>
  <p>You can also use KevNotes to save the URLs to other websites and webpages.</p>
<h3>Organize into folders!</h3>
  <p>KevNotes makes it easy to write notes about lots of different topics. You can create folders to help you organize your notes. You can even create a hierachy of folders within folders.</p>
<h3>Share your best content!</h3>
  <p>Everything you create with KevNotes will be private by default. But if you want others to be able to see certain folders or posts, you can choose to make them publicly visible.</p>
<h3>Start using KevNotes.com now!</h3>
  <p>To begin, click "sign up" on the top right of this page. You'll be asked to give us an email address which will be associated with your account but not shown to anyone.</p>

